nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #57c7e9;
  }
  
  a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  a:hover {
    color: rgb(41, 47, 54);
  }

  .active{
    color: rgb(226, 98, 43);
  }